<div class="main">
  <nav class="navbar">
    <section>
      <h4 class="navbar__title">
        <a routerLink="home" class="route">nD&nD</a>
      </h4>
    </section>

    <section class="navbar__routes">
      <a
        [routerLink]="appRoutes.HOME"
        routerLinkActive="active"
        class="navbar__route"
        >Home</a
      >
      <a
        [routerLink]="appRoutes.SPELLS"
        routerLinkActive="active"
        class="navbar__route"
        >Spells</a
      >
      <a
        [routerLink]="appRoutes.CHARACTERS"
        routerLinkActive="active"
        class="navbar__route"
        >Characters</a
      >
      <a
        [routerLink]="appRoutes.PARTIES"
        routerLinkActive="active"
        class="navbar__route"
        >Parties</a
      >
      <a
        [routerLink]="appRoutes.PROJECTION"
        routerLinkActive="active"
        target="_blank"
        (click)="openProjection()"
        class="navbar__route"
        >Projection</a
      >
      <app-avatar [matMenuTriggerFor]="profileMenu"></app-avatar>
    </section>
  </nav>

  <app-mobile-navbar
    (openProjection)="openProjection()"
    class="mobile-navbar"></app-mobile-navbar>

  <main class="app">
    <router-outlet></router-outlet>
  </main>
</div>

<mat-menu #profileMenu>
  <button mat-menu-item (click)="auth.logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
