<div class="main">
  <nav class="navbar">
    <section>
      <h4 class="navbar__title">
        <a routerLink="home" class="route">nD&nD</a>
      </h4>
    </section>

    <section class="navbar__routes">
      <a
        [routerLink]="homeRoute"
        routerLinkActive="active"
        class="navbar__route"
        >Home</a
      >
      <a
        [routerLink]="charactersRoute"
        routerLinkActive="active"
        class="navbar__route"
        >Characters</a
      >
      <a
        [routerLink]="partiesRoute"
        routerLinkActive="active"
        class="navbar__route"
        >Parties</a
      >
      <button mat-flat-button (click)="openProjection()">
        Projection
        <mat-icon>monitor</mat-icon>
      </button>
    </section>
  </nav>

  <app-mobile-navbar
    (openProjection)="openProjection()"
    class="mobile-navbar"></app-mobile-navbar>

  <main class="app">
    <router-outlet></router-outlet>
  </main>
</div>
