<div class="main">
  <nav class="navbar">
    <section>
      <h4 class="navbar__title">
        <a routerLink="home" class="route">nD&nD</a>
      </h4>
    </section>

    <app-avatar [matMenuTriggerFor]="profileMenu"></app-avatar>
  </nav>

  <app-mobile-navbar
    (openProjection)="openProjection()"
    class="mobile-navbar"></app-mobile-navbar>

  <section class="sidemenu">
    <div class="heading">
      @for (item of sidemenu.sidemenuItems; track item.id; let index = $index) {
        <app-sidemenu-item [item]="item"></app-sidemenu-item>
      }
    </div>
    <div class="trailing">
      <app-sidemenu-item
        [item]="sidemenu.projectionItem"
        (click)="openProjection()"></app-sidemenu-item>
      <app-sidemenu-item [item]="sidemenu.settingsItem"></app-sidemenu-item>
    </div>
  </section>

  <main class="app">
    <router-outlet></router-outlet>
  </main>
</div>

<mat-menu #profileMenu>
  <button mat-menu-item (click)="auth.logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
