<section class="encounter-section">
  <div class="actions">
    <mat-slide-toggle
      labelPosition="before"
      [(ngModel)]="showingEncounterMenu"
      (change)="encounterToggleChange($event)"
      labelPosition="after">
      @if (showingEncounterMenu) {
        <span>Encounter</span>
      } @else {
        <span>Encounter</span>
      }
    </mat-slide-toggle>
    <div>
      <button mat-icon-button (click)="clearEncounter()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="addToEncounter()">
        <mat-icon>Add</mat-icon>
      </button>
    </div>
  </div>

  @if (encounter.characters().length > 1) {
    <div class="controls">
      <button mat-icon-button (click)="encounter.previous()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div>Round {{ encounter.roundCounter }}</div>

      <app-encounter-timer></app-encounter-timer>

      <button mat-icon-button (click)="encounter.next()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  }

  <div
    [ngClass]="{empty: encounter.characters().length === 0}"
    class="character-list">
    @if (encounter.characters().length === 0) {
      <small>No characters added to the encounter yet</small>
    }
    @for (
      character of encounter.characters();
      track character;
      let index = $index
    ) {
      <app-character-item
        [active]="encounter.activeCharacterIndex === index"
        [character]="character"
        mode="encounter"></app-character-item>
    }
  </div>
</section>
