<section class="encounter-section">
  <div class="actions">
    <mat-slide-toggle
      labelPosition="before"
      [(ngModel)]="showingEncounterMenu"
      (change)="encounterToggleChange($event)"
      labelPosition="after"
      >Show encounter menu</mat-slide-toggle
    >
    <div>
      <button mat-icon-button (click)="clearEncounter()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="addParty()">
        <mat-icon>group</mat-icon>
      </button>
    </div>
  </div>

  <div class="add-characters">
    <mat-form-field appearance="outline" class="select">
      <mat-label>Characters</mat-label>
      <mat-select multiple [formControl]="selectedCharactersControl">
        @for (character of characters; track character) {
          @if (encounter.characterInEncounter(character)) {
            <mat-option [value]="character">{{ character.name }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      [disabled]="selectedCharactersControl.value?.length === 0"
      (click)="addCharacters(this.selectedCharactersControl.value || [])">
      Add characters
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if (encounter.characters().length > 1) {
    <div class="controls">
      <button mat-icon-button (click)="encounter.previous()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div>Round {{ encounter.roundCounter }}</div>

      <app-encounter-timer></app-encounter-timer>

      <button mat-icon-button (click)="encounter.next()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  }

  <div class="character-list">
    @for (
      character of encounter.characters();
      track character.id;
      let index = $index
    ) {
      <app-character-item
        [active]="encounter.activeCharacterIndex === index"
        [character]="character"
        mode="encounter"></app-character-item>
    }
  </div>
</section>
