$d20-size: 42px;
$d20-font-size: 1.125rem;
$d20-hover-font-size: 1.25rem;

.d20 {
  width: $d20-size;
  height: $d20-size;
  min-width: $d20-size;
  min-height: $d20-size;
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
  clip-path: polygon(50% 0%, 93% 25%, 93% 72%, 50% 100%, 7% 72%, 7% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial Black", sans-serif;
  font-size: $d20-font-size;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: inherit;
  }

  &.clickable {

    transition: background-color 0.15s ease, font-size 0.15s ease;

    &:hover {
      font-size: $d20-hover-font-size;
      background-color: var(--mat-sys-on-primary-container);
    }

  }

}
