<nav class="mobile-navbar">
  <h4 class="mobile-navbar__title">
    <a routerLink="home" class="route">nD&nD</a>
  </h4>

  <button mat-icon-button (click)="sidemenu.open()">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<section [ngClass]="{opened: sidemenu.isOpened}" class="sidemenu">
  <div
    (click)="sidemenu.close()"
    class="backdrop animate__animated animate__fadeIn animate__faster"></div>
  <div class="content animate__animated animate__slideInLeft animate__faster">
    <header class="header">
      <h4 class="mobile-navbar__title">
        <a routerLink="home" class="route text-medieval">nD&nD</a>
      </h4>
    </header>

    <div class="items heading">
      @for (item of sidemenu.sidemenuItems; track item.id; let index = $index) {
        <app-mobile-sidemenu-item
          [item]="item"
          (itemClicked)="itemClicked()"></app-mobile-sidemenu-item>
      }
    </div>

    <div class="items trailing">
      <app-mobile-sidemenu-item
        [item]="sidemenu.projectionItem"
        (itemClicked)="itemClicked(); projection()"></app-mobile-sidemenu-item>
      <app-mobile-sidemenu-item
        [item]="sidemenu.settingsItem"
        (itemClicked)="itemClicked()"></app-mobile-sidemenu-item>
    </div>
  </div>
</section>
