<section class="monsters page container">
  <h3 class="title">Monsters</h3>

  <mat-form-field appearance="outline" class="search">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search by name"
      [formControl]="searchControl" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="monster-list">
    @for (monster of filteredMonsters; track monster.id) {
      <app-monster-item
        [monster]="monster"
        (click)="detail(monster)"></app-monster-item>
    }
  </div>
</section>
