.content {
  color: white;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;

  .divider {
    height: 1px;
    margin: 1rem 0;
    background-color: white;
    // background-color: var(--mat-sys-surface-variant);
  }

  .section {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--mat-sys-surface-variant);

    &:last-child {
      border-bottom: none;
    }
  }

  .stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem 0;

    .stat {
      flex: 1;
      display: flex;
      flex-direction: column;

      .label {
        padding: 0.25rem 0;
      }
    }
  }

  .label {
    font-weight: normal;
    display: inline;
    font-weight: 500;
  }

  .value {
    font-weight: lighter;
  }

  .title {
    margin: 0;
    font-weight: normal;
    font-size: 1.25rem;
    padding: 16px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--mat-sys-surface-variant);
  }

  .monster-image-container {
    position: relative;
    width: 100%;

    .monster-image {
      border-radius: var(--mat-sys-corner-medium);
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }
}
