<article class="character-sheet">

  <section class="heading">

    <div class="header">
      <h3 class="name">{{ character?.name }}</h3>
      <small [ngClass]="[character?.type ?? '']" class="type">{{ typeLabel(character?.type) }}</small>
    </div>

  </section>


  <section class="stats">
    @if(character?.type === "player") {
      <div class="stat">
        <span class="value">
          {{ character?.currentHitPoints || "-" }}/{{ character?.maxHitPoints || "-" }}
        </span>
      </div>
    } @else {
      <div class="stat">
        <span class="value">
          {{ characterHealthStatus(character?.currentHitPoints || 0, character?.maxHitPoints || 0) }}
        </span>
      </div>
    }
  </section>

</article>
