.playlist-form {
  gap: 1.5rem;
  display: grid;
  grid-template-rows: repeat(2, auto);

  padding: 2rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-row {
    gap: 1rem;
    width: 100%;
    display: flex;

    & > * {
      flex: 1;
    }
  }

  .new-track {
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;

    .mat-mdc-form-field {
      flex: 1;
    }
  }

  .divider {
    border-bottom: 1px solid var(--mat-sys-surface-variant);
  }

  .tracks {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .track {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      section {
        gap: 0.5rem;
        display: flex;
        align-items: center;

        .name {
          min-width: 200px;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }

        .url {
          color: var(--mat-sys-secondary);
          max-width: 300px;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .actions {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 680px) {
  .character-form {
    .form-row {
      flex-direction: column;
    }
  }
}
