:host {
  width: 100%;
}

.character-sheet {
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--mat-sys-corner-medium);
  border: 2px solid transparent;
  transition:
    background-color 0.15s ease,
    transform 0.15s ease;

  &.edition:hover {
    cursor: pointer;
    background-color: var(--mat-sys-surface);
    transform: translateX(5px);
  }

  &.active {
    background-color: var(--mat-sys-surface-variant);
    animation: blink-border 0.75s infinite alternate;
  }

  .heading {
    gap: 1rem;
    display: flex;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 1rem;
      white-space: nowrap;
      font-weight: normal;
      margin: 0;
    }

    .type {
      &.plain {
        opacity: 0.75;
      }

      &.player {
        color: var(--info);
      }

      &.ally {
        color: var(--success);
      }

      &.enemy {
        color: var(--danger);
      }
    }
  }

  .stats {
    gap: 0.5rem;
    display: flex;
    min-width: 40px;
    align-items: center;
    grid-template-columns: repeat(5, minmax(80px, 1fr));

    .stat {
      min-width: 50px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: var(--mat-sys-corner-medium);
      transition: background-color 0.15s ease;

      .label {
        opacity: 0.5;
        font-size: 0.75rem;
        white-space: nowrap;
      }

      .value {
        font-size: 1rem;
        white-space: nowrap;
      }

      &.hp {
        min-width: 80px;
      }

      &.prompted:hover {
        cursor: pointer;
        background-color: var(--mat-sys-surface-container);
      }
    }
  }

  .hp-value {
    &.healthy {
      color: var(--success);
    }

    &.injured {
      color: var(--warning);
    }

    &.bloodied {
      color: var(--danger);
    }

    &.defeated {
      color: var(--neutral);
    }
  }
}

@keyframes blink-border {
  0% {
    // border-color: transparent;
    background-color: transparent;
  }
  100% {
    // border-color: var(--danger);
    background-color: var(--mat-sys-surface-variant);
  }
}
