:host {
  width: 100%;
}

.playlist {
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;

  .header {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: var(--mat-sys-corner-medium);
    border-top-right-radius: var(--mat-sys-corner-medium);
    transition: background-color 0.15s ease;
    background-color: var(--mat-sys-surface-a50);

    .heading {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--mat-sys-surface);
    }
  }

  .name {
    font-size: 1rem;
    white-space: nowrap;
    font-weight: normal;
    margin: 0;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    text-decoration: none;
  }

  .tracks {
    border-bottom-left-radius: var(--mat-sys-corner-medium);
    border-bottom-right-radius: var(--mat-sys-corner-medium);

    .track {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition:
        background-color 0.15s ease,
        transform 0.15s ease;

      &:not(:last-child) {
        border-bottom: 1px solid var(--mat-sys-surface-bright);
      }

      &:last-child {
        border-bottom-left-radius: var(--mat-sys-corner-medium);
        border-bottom-right-radius: var(--mat-sys-corner-medium);
      }

      &.playing {
        color: var(--mat-sys-primary);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--mat-sys-surface-a25);
      }

      .player {
        display: none;
      }

      .heading {
        gap: 1rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;

        .index {
          opacity: 0.5;
        }
      }
    }
  }
}
