<article [ngClass]="{detail: navigateToDetail}" class="playlist">
  <header matRipple (click)="onDetail()" class="header">
    <section class="heading">
      @if (navigateToDetail) {
        <button mat-icon-button (click)="pin($event)">
          <mat-icon>{{ pinned ? 'keep' : 'keep_off' }}</mat-icon>
        </button>
      }
      <h5 class="name">{{ playlist.name }}</h5>
    </section>
    <section class="actions">
      @if (anyTrackPlaying) {
        <button mat-icon-button (click)="stopAll($event)">
          <mat-icon>stop</mat-icon>
        </button>
      }
      @if (navigateToDetail) {
        <mat-icon class="mat-18">chevron_right</mat-icon>
      }
    </section>
  </header>
  <section class="tracks">
    @for (track of playlist.tracks; track track) {
      <article [ngClass]="{playing: playing[$index]}" class="track">
        <section class="heading">
          <small class="index">{{ $index + 1 }}</small>
          <a [href]="playlistUrls[$index]" target="_blank" class="name">{{
            track.name
          }}</a>
        </section>

        <div [id]="'player-' + playlist.id + '-' + $index"></div>

        <div class="controls">
          <button
            mat-icon-button
            [disabled]="!readyPlayers[$index]"
            color="primary"
            (click)="togglePlay($index)">
            <mat-icon>{{ playing[$index] ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
          <button mat-icon-button (click)="reset($index)">
            <mat-icon>restart_alt</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleLoop($index)">
            <mat-icon>{{ looping[$index] ? 'repeat_one' : 'repeat' }}</mat-icon>
          </button>
        </div>
      </article>
    }
  </section>
</article>
