<article class="combat">
  @if (combat.characters().length === 0) {
    <section class="empty">
      <section class="empty__content">
        <p class="empty__title">No characters in combat</p>
      </section>
    </section>
  }

  @if (combat.characters().length > 0) {
    <section class="combat-list">
      @for (
        character of combat.characters();
        track character.id;
        let index = $index
      ) {
        <app-character-item
          #character
          mode="proyection"
          [active]="combat.activeCharacterIndex === index"
          [character]="character"></app-character-item>
      }
    </section>
  }
</article>
