@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BlackCastle';
  src: url('../../public/fonts/BlackCastleMF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.text-medieval {
  font-weight: lighter;
  font-family: BlackCastle;
}
