<div class="character" [ngClass]="{active: index() === combatService.activeCharacter}">
  <section class="section character__header">
    <app-d20 [value]="character()?.initiative || 0"></app-d20>
    <section class="section character__info">
        <h4 class="character__name">{{ character()?.name }}</h4>
        <app-character-status-badge [status]="character()?.status" (onRemove)="removeStatus()"></app-character-status-badge>
    </section>
  </section>
    <section class="section character__actions">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
    </section>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="statuses">
    <mat-icon>person</mat-icon>
    <span>Set status</span>
  </button>
  <button mat-menu-item (click)="remove()">
    <mat-icon>delete</mat-icon>
    <span>Remove</span>
  </button>
</mat-menu>

<mat-menu #statuses="matMenu" class="status-menu">
  @for (status of characterStatusService.statuses; track status.id) {
      <button mat-menu-item (click)="setStatus(status.id)">
        <span>{{ status.icon }} {{ status.name }}</span>
      </button>
  }
</mat-menu>
