<article (click)="edit()" class="character-sheet">

  <section class="heading">

    <div class="header">
      <h3 class="name">{{ character?.name }}</h3>
      <small [ngClass]="[character?.type ?? '']" class="type">{{ typeLabel(character?.type) }}</small>
    </div>

  </section>


  <section class="stats">
    <div class="stat">
      <span class="label">CA</span>
      <span class="value">{{ character?.classArmour || "-" }}</span>
    </div>
    <div class="stat">
      <span class="label">PP</span>
      <span class="value">{{ character?.passivePerception || "-" }}</span>
    </div>
    <div class="stat">
      <span class="label">TS</span>
      <span class="value">{{ character?.savingThrow || "-" }}</span>
    </div>
    <div class="stat">
      <span class="label">Max. HP</span>
      <span class="value">{{ character?.maxHitPoints || "-" }}</span>
    </div>
  </section>

</article>
