.file-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  .file-info {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  label {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;

    // hover y focus en el input asociado
    input:hover + &,
    input:focus + & {
      transform: scale(1.02);
    }

    input:focus + & {
      outline: 1px solid #000;
      outline: -webkit-focus-ring-color auto 2px;
    }
  }

  .file-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.5;
    margin: 0;
  }
}
