<article class="encounter">
  @if (encounter.characters().length === 0) {
    <section class="empty">
      <section class="empty__content">
        <p class="empty__title">No characters in encounter</p>
      </section>
    </section>
  }

  @if (encounter.characters().length > 0) {
    <section class="header">
      <span>{{ encounter.activeCharacter?.name }}'s turn</span>
      <app-encounter-timer mode="projection"></app-encounter-timer>
    </section>
    <section class="encounter-list">
      @for (
        character of encounter.characters();
        track character.id;
        let index = $index
      ) {
        <app-character-item
          #character
          mode="projection"
          [active]="encounter.activeCharacterIndex === index"
          [character]="character"></app-character-item>
      }
    </section>
  }
</article>
