.music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
    }
  }

  .playlist-list {
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .empty {
    opacity: 0.75;
  }
}
