.viewer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  position: relative;
  user-select: none;
  cursor: grab;
}

.viewer:active {
  cursor: grabbing;
}

.img {
  transform-origin: 0 0;
  -webkit-user-drag: none;
  pointer-events: none;
}
