<div class="general-manager">
  <div class="actions">
    <app-file-input
      label="Select background image"
      emptyLabel="No image selected"
      accept="image/*"
      (clear)="clearBackgroundImage()"
      (change)="setBackgroundImage($event)"></app-file-input>
    @if (image) {
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    }
  </div>
  @if (image) {
    <div class="image-container">
      <app-image-viewer
        [src]="image"
        (viewChange)="imageViewChanged($event)"></app-image-viewer>
    </div>
  }
  <section>
    @if (playlist) {
      <app-playlist-item
        [playlist]="playlist"
        [navigateToDetail]="false"></app-playlist-item>
    }
  </section>
</div>
