.general-manager {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  .image-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 500px;
    object-fit: contain;
    object-position: center;
  }
}
