<section class="home container">
  <!-- <div>
    <h1 class="text-medieval">no Dungeons & no Dragons</h1>
  </div> -->

  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>General</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="image-selection">
        <app-file-input
          label="Select background image"
          emptyLabel="No image selected"
          accept="image/*"
          (clear)="clearBackgroundImage()"
          (change)="setBackgroundImage($event)"></app-file-input>
        <div></div>
        <!-- <button mat-button color="primary" (click)="refreshProyection()">
          Refresh
          <mat-icon>refresh</mat-icon>
        </button> -->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Combat</mat-panel-title>
      </mat-expansion-panel-header>

      <section class="combat-section">
        <div class="actions">
          <mat-slide-toggle
            labelPosition="before"
            [(ngModel)]="showingCombatMenu"
            (change)="combatToggleChange($event)"
            labelPosition="after"
            >Show combat menu</mat-slide-toggle
          >
          <div></div>
          <!-- <button mat-button color="primary" (click)="refreshProyection()">
            Refresh
            <mat-icon>refresh</mat-icon>
          </button> -->
        </div>

        <section class="separator">
          <div class="timer">
            <app-encounter-timer></app-encounter-timer>
          </div>
        </section>

        <div class="add-characters">
          <mat-form-field appearance="outline" class="select">
            <mat-label>Character</mat-label>
            <mat-select multiple [formControl]="selectedCharactersControl">
              @for (character of characters; track character) {
                @if (combat.characterInCombat(character)) {
                  <mat-option [value]="character">{{
                    character.name
                  }}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            [disabled]="selectedCharactersControl.value?.length === 0"
            (click)="addCharacters()">
            Add
            <mat-icon>add</mat-icon>
          </button>
        </div>

        @if (combat.characters().length > 1) {
          <div class="controls">
            <button mat-icon-button (click)="combat.previous()">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <div>{{ combat.activeCharacter?.name ?? '-' }}'s turn</div>

            <button mat-icon-button (click)="combat.next()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        }

        <div class="character-list">
          @for (
            character of combat.characters();
            track character.id;
            let index = $index
          ) {
            <app-character-item
              [active]="combat.activeCharacterIndex === index"
              [character]="character"
              mode="encounter"></app-character-item>
          }
        </div>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</section>
