<section
  class="home container animate__animated animate__fadeInRight animate__faster">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>General</mat-panel-title>
      </mat-expansion-panel-header>
      <app-general-manager></app-general-manager>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Encounter</mat-panel-title>
      </mat-expansion-panel-header>
      <app-encounter-manager></app-encounter-manager>
    </mat-expansion-panel>
  </mat-accordion>
</section>
