.home {

  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  .banner-image {
    width: 100%;
    max-width: 430px;
  }

  .combat-section {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .combat-toggle-wrapper {
      display: flex;
      justify-content: end;
    }

    .add-characters {
      display: flex;
      gap: 1rem;
      align-items: baseline;

      .select {
        flex: 1;
      }
    }

  }

}
