<!-- <section class="home page container">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>General</mat-panel-title>
      </mat-expansion-panel-header>
      <app-general-manager></app-general-manager>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Encounter</mat-panel-title>
      </mat-expansion-panel-header>
      <app-encounter-manager></app-encounter-manager>
    </mat-expansion-panel>
  </mat-accordion>
</section> -->
<section class="home page container">
  <section class="section">
    <app-general-manager></app-general-manager>
  </section>
  <section class="section">
    <app-encounter-manager></app-encounter-manager>
  </section>
</section>
