.sidemenu-item {
  gap: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--mat-sys-corner-medium);
  transition:
    background-color 0.15s ease,
    transform 0.15s ease;

  &.active {
    color: var(--mat-sys-primary);
  }

  &:hover {
    transform: translateX(5px);
    background-color: var(--mat-sys-surface-container);
  }
}
