<article class="character-sheet">

  <section class="heading">

    <app-d20 [value]="character?.initiative" [clickable]="true" (initiative)="initiative($event)"></app-d20>

    <div class="header">
      <h3 class="name">{{ character?.name }}</h3>
      <small [ngClass]="[character?.type ?? '']" class="type">{{ typeLabel(character?.type) }}</small>
      <app-character-status-badge [states]="character?.states || []" (change)="status($event)"></app-character-status-badge>
    </div>

  </section>


  <section class="stats">
    <div class="stat">
      <span class="label">CA</span>
      <span class="value">{{ character?.classArmour || "-" }}</span>
    </div>
    <div class="stat">
      <span class="label">PP</span>
      <span class="value">{{ character?.passivePerception || "-" }}</span>
    </div>
    <div class="stat">
      <span class="label">TS</span>
      <span class="value">{{ character?.savingThrow || "-" }}</span>
    </div>
    <div class="stat">
      <span class="label">HP</span>
      <span class="value">
        {{ character?.currentHitPoints || "-" }}/{{ character?.maxHitPoints || "-" }}
      </span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </section>

</article>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="statesMenu">
    <mat-icon>person</mat-icon>
    <span>Set status</span>
  </button>
  <button mat-menu-item (click)="remove()">
    <mat-icon>delete</mat-icon>
    <span>Remove</span>
  </button>
</mat-menu>

<mat-menu #statesMenu="matMenu" class="status-menu">
  @for (status of statusService.states; track status.id) {
      <button mat-menu-item (click)="setStatus(status)">
        <span>{{ status.icon }} {{ status.name }}</span>
      </button>
  }
</mat-menu>

