:host {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.combat {

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .empty {

    height: 100%;

    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__content {
      gap: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__title {
      opacity: 0.5;
      margin: 0;
    }

  }

  .combat-list {

    height: fit-content;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &__round-counter {
      opacity: 0.5;
    }

  }

  .controls {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .fab-button {
    position: fixed;
    z-index: 1000;

    &--add {
      bottom: 2rem;
      right: 2rem;
    }

    &--next {
      bottom: 2rem;
      right: 6.5rem;
    }

    &--previous {
      bottom: 2rem;
      right: 11rem;
    }

  }

}
