<article class="combat">

  @if (combatService.characters.length === 0) {
    <p class="empty">No characters in combat</p>
  }

  @if (combatService.characters.length > 0) {

    <section>
      <app-combat-timer></app-combat-timer>
      <span class="combat-list__round-counter">Round {{ combatService.roundCounter }}</span>
    </section>


    <section class="combat-list">
      @for (character of combatService.characters; track character.id; let index = $index) {
        <app-character #character [character]="character" [index]="index"></app-character>
      }
    </section>

  }

  @if (combatService.characters.length > 1) {

    <section class="controls">
      <button mat-icon-button (click)="previous()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button (click)="next()">
        <mat-icon mat-suffix>arrow_forward</mat-icon>
      </button>
    </section>

  }



  <button mat-fab (click)="add()" class="fab-button fab-button--add">
    <mat-icon>add</mat-icon>
  </button>

</article>
