.combat {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  max-width: 450px;

  .empty {
    opacity: 0.5;
  }

  .combat-list {

    gap: 1rem;
    display: flex;
    flex-direction: column;

    &__round-counter {
      opacity: 0.5;
    }

  }

  .fab-button {
    position: fixed;
    z-index: 1000;

    &--add {
      bottom: 2rem;
      right: 2rem;
    }

    &--next {
      bottom: 2rem;
      right: 6.5rem;
    }

    &--previous {
      bottom: 2rem;
      right: 11rem;
    }

  }

}
