<article class="combat">
  @if (combat.characters().length === 0) {
    <section class="empty">
      <section class="empty__content">
        <p class="empty__title">No characters in combat</p>
      </section>
    </section>
  }

  @if (combat.characters().length > 0) {
    <!-- <section>
      <span class="combat-list__round-counter">Round {{ combat.roundCounter }}</span>
    </section> -->

    <section class="combat-list">
      @for (
        character of combat.characters();
        track character.id;
        let index = $index
      ) {
        <app-character-proyection-item
          #character
          [character]="character"></app-character-proyection-item>
      }
    </section>
  }

  <!-- @if (combat.characters().length > 1) {

    <section class="controls">
      <button mat-icon-button (click)="previous()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button (click)="next()">
        <mat-icon mat-suffix>arrow_forward</mat-icon>
      </button>
    </section>

  } -->
</article>
