<section class="characters page container">
  <div class="actions">
    <h3 class="title">Characters</h3>
    <button mat-flat-button (click)="create()">
      Create new character
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if (characters.length > 5) {
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Search by name"
        [formControl]="searchControl" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  }

  @if (characters.length === 0) {
    <small class="empty">No characters created yet</small>
  }

  <div class="characters-list">
    @for (
      character of filteredCharacters;
      track character.id;
      let index = $index
    ) {
      <app-character-item
        #character
        [character]="character"></app-character-item>
    }
  </div>
</section>
