<section
  class="characters container animate__animated animate__fadeInLeft animate__faster">
  <div class="actions">
    <h3 class="title">Characters</h3>
    <button mat-flat-button (click)="create()">
      Create new character
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="characters-list">
    @for (character of characters; track character.id; let index = $index) {
      <app-character-item
        #character
        [character]="character"></app-character-item>
    }
  </div>
</section>
