<section
  class="parties container animate__animated animate__fadeInRight animate__faster">
  <div class="actions">
    <h3 class="title">Parties</h3>
    <button mat-flat-button (click)="create()">
      Create new party
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if (parties.length === 0) {
    <small class="empty">No parties created yet</small>
  }

  <div class="party-list">
    @for (party of parties; track party.id; let index = $index) {
      <app-party-item [party]="party"></app-party-item>
    }
  </div>
</section>
